
form {
  padding: 3em;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 20px;
  border: 2px solid white;
  height: 400px;
  align-items: center;
}
input {
  width: 300px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white
}


button {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.4em;
  border: 1px solid white;
  border-radius: 6px;
}
