#footer {
  width: 100vw;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  position: fixed;
}
